---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Imports
@import 'variables';

// Bulma.io CSS Framework
@import 'bulma';


// Font-Awesome
@import 'font-awesome/font-awesome';

// Custom
.navbar-brand {
  font-weight: bold;
}

.post-card {

  .post-title {
    font-size: 1.6em;
  }

  .post-categories {
    margin-bottom: 5px;
  }
}
