---
---
// Imports
@import 'variables';

// Bulma.io CSS Framework
@import 'bulma/utilities/all';
@import 'bulma/base/all';
@import 'bulma/elements/all';
@import 'bulma/components/all';
@import 'bulma/grid/all';
@import 'bulma/layout/all';

// Font-Awesome
@import 'font-awesome/font-awesome';

// Custom
.nav-brand {
  font-weight: bold;
}

.post-card {

  .post-title {
    font-size: 1.6em;
  }

  .post-categories {
    margin-bottom: 5px;
  }
}
